<h1>Listing courts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Address</th>
    <th>Gmaps</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @courts.each do |court| %>
  <tr>
    <td><%= court.name %></td>
    <td><%= court.latitude %></td>
    <td><%= court.longitude %></td>
    <td><%= court.address %></td>
    <td><%= court.gmaps %></td>
    <td><%= link_to 'Show', court %></td>
    <td><%= link_to 'Edit', edit_court_path(court) %></td>
    <td><%= link_to 'Destroy', court, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Court', new_court_path %>
<%= gmaps("markers" => {"data" => @json, "options" => {"list_container" => "markers_list" } }) %>
<ul id="markers_list">  </ul>