<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @court.name %>
</p>

<p>
  <b>Latitude:</b>
  <%= @court.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @court.longitude %>
</p>

<p>
  <b>Address:</b>
  <%= @court.address %>
</p>

<p>
  <b>Gmaps:</b>
  <%= @court.gmaps %>
</p>


<%= link_to 'Edit', edit_court_path(@court) %> |
<%= link_to 'Back', courts_path %>
